.navbar-default {
    background-color: #e3da35;
}

.navbar-default .navbar-nav>li>a {
    color: #226034;
}

.navbar-default .navbar-brand {
    color: #226034;
}

a {
    color: #318635;
    text-decoration: none;
}
